<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth</title>
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }
        nav {
            background-color:darksalmon;
            padding: 20px 10px;
        }
        nav ul {
            max-width: 960px;
            margin: 0px;
            padding: 0 0 0 0;
        }
        nav ul li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0 ;
        }
        nav a {
            color: #fff;
            font-size: 18px;
            background: rosybrown;
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main,header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color:darkorange;
        }
    </style>
</head>
<body>
   <nav>
       <ul>
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a href="/logout">LOGOUT</a></li>
       </ul>
       
   </nav>
   <header>LOGIN PAGE</header>
   <main>
       <a class="google"  href="/auth/google">LOGIN GOOGLE</a>
   </main>
</body>
</html>